@model WebShop.Core.ViewModels.HomeProductListViewModel

@{
    ViewBag.Title = "Home Page";


}
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Greetings</title>
</head>

<section class="homepage-slider" id="home-slider">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="~/Content/images/banner/banner-1.jpg" alt="" />
            </li>
            <li>
                <img src="~/Content/images/banner/banner-2.jpg" alt="" />
                <div class="intro">
                    <h1>Mid season sale</h1>
                    <p><span>Up to 50% Off</span></p>
                    <p><span>On selected items online and in stores</span></p>
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="header_text">
	It is now winter and we are ready to enjoy all outdoors activities.  For you who feel cold, we have a special selection of extremly warm clothing without putting aside out signature fasion.
	<br/>Come and enjoy our new eCommerce site.  You will find all what you need for this season.
</section>
<section class="main-content">
	<div class="row">
		<div class="span12">
			<div class="row">
				<div class="span12">
					<h4 class="title">
						<span class="pull-left"><span class="text"><span class="line">Suggested <strong>Products</strong></span></span></span>
						<span class="pull-right">
							<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
						</span>
					</h4>
					<div id="myCarousel" class="myCarousel carousel slide">
						<div class="carousel-inner">
							<div class="active item">
								<ul class="thumbnails">
@{ /* Suggested Products (4 products) * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
									<li class="span3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a href="product_detail.html"><img src="themes/images/ladies/1.jpg" alt="" /></a></p>
											<a href="product_detail.html" class="title">Ut wisi enim ad</a><br/>
											<a href="products.html" class="category">Commodo consequat</a>
											<p class="price">$17.25</p>
										</div>
									</li>
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */ }
									@for(int i = 1; i <= 4; i++)
                                    {
										<li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <p><a href="/ProductDetails/Index/@Model.SuggestedProducts.ElementAt(i).Id"><img src="@Model.SuggestedProducts.ElementAt(i).Images.FirstOrDefault().Path" style="max-height:270px;max-width:270px" /></a></p>
                                                <a href="/ProductDetails/Index/@Model.SuggestedProducts.ElementAt(i).Id" class="title">@Model.SuggestedProducts.ElementAt(i).Name</a><br />
                                                <a href="/ProductDetails/Index/@Model.SuggestedProducts.ElementAt(i).Id" class="category">@Model.SuggestedProducts.ElementAt(i).Manufacture</a>
                                                <p class="price">$ @Model.SuggestedProducts.ElementAt(i).Price</p>
                                            </div>
										</li>
                                    }
								</ul>
							</div>
							<div class="item">
								<ul class="thumbnails">
@{ /* Suggested Products (4 products) * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */ }
									@for(int i = 5; i <= 8; i++)
                                    {
										<li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <p><a href="/ProductDetails/Index/@Model.SuggestedProducts.ElementAt(i).Id"><img src="@Model.SuggestedProducts.ElementAt(i).Images.FirstOrDefault().Path" style="max-height:270px;max-width:270px" /></a></p>
                                                <a href="/ProductDetails/Index/@Model.SuggestedProducts.ElementAt(i).Id" class="title">@Model.SuggestedProducts.ElementAt(i).Name</a><br />
                                                <a href="/ProductDetails/Index/@Model.SuggestedProducts.ElementAt(i).Id" class="category">@Model.SuggestedProducts.ElementAt(i).Manufacture</a>
                                                <p class="price">$ @Model.SuggestedProducts.ElementAt(i).Price</p>
                                            </div>
										</li>
                                    }
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="span12">
					<h4 class="title">
						<span class="pull-left"><span class="text"><span class="line">Latest <strong>Products</strong></span></span></span>
						<span class="pull-right">
							<a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
						</span>
					</h4>
					<div id="myCarousel-2" class="myCarousel carousel slide">
						<div class="carousel-inner">
							<div class="active item">
								<ul class="thumbnails">
@{ /* Latest Products (4 products) * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */ }
									@for(int i = 0; i < 4; i++)
                                    {
										<li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <p><a href="/ProductDetails/Index/@Model.LatestProducts.ElementAt(i).Id"><img src="@Model.LatestProducts.ElementAt(i).Images.FirstOrDefault().Path" style="max-height:270px;max-width:270px" /></a></p>
                                                <a href="/ProductDetails/Index/@Model.LatestProducts.ElementAt(i).Id" class="title">@Model.LatestProducts.ElementAt(i).Name</a><br />
                                                <a href="/ProductDetails/Index/@Model.LatestProducts.ElementAt(i).Id" class="category">@Model.LatestProducts.ElementAt(i).Manufacture</a>
                                                <p class="price">$ @Model.LatestProducts.ElementAt(i).Price</p>
                                            </div>
										</li>
                                    }
								</ul>
							</div>
							<div class="item">
								<ul class="thumbnails">
@{ /* Latest Products (4 products) * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */ }
									@for(int i = 4; i < 8; i++)
                                    {
										<li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <p><a href="/ProductDetails/Index/@Model.LatestProducts.ElementAt(i).Id"><img src="@Model.LatestProducts.ElementAt(i).Images.FirstOrDefault().Path" style="max-height:270px;max-width:270px" /></a></p>
                                                <a href="/ProductDetails/Index/@Model.LatestProducts.ElementAt(i).Id" class="title">@Model.LatestProducts.ElementAt(i).Name</a><br />
                                                <a href="/ProductDetails/Index/@Model.LatestProducts.ElementAt(i).Id" class="category">@Model.LatestProducts.ElementAt(i).Manufacture</a>
                                                <p class="price">$ @Model.LatestProducts.ElementAt(i).Price</p>
                                            </div>
										</li>
                                    }
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row feature_box">
				<div class="span4">
					<div class="service">
						<div class="responsive">
							<img src="/Content/themes/images/feature_img_2.png" alt="" />
							<h4>FASION <strong>FOR YOU</strong></h4>
							<p>We work with exclusive brands and designers to fit your needs.</p>
						</div>
					</div>
				</div>
				<div class="span4">	
					<div class="service">
						<div class="customize">
							<img src="/Content/themes/images/feature_img_1.png" alt="" />
							<h4>FREE <strong>SHIPPING</strong></h4>
							<p>We provide free shipping for all your products within Sweden.  Deliveries arrive to your home via Postnord.</p>
						</div>
					</div>
				</div>
				<div class="span4">
					<div class="service">
						<div class="support">
							<img src="/Content/themes/images/feature_img_3.png" alt="" />
							<h4>24/7 LIVE <strong>SUPPORT</strong></h4>
							<p>We are commited to your experience and satisfaction. If you have any problem, contact our dedicated customer support team.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="our_client">
	<h4 class="title"><span class="text">Manufactures</span></h4>
    <div class="row">
        <div class="span2">
            <img alt="Bench." src="~/Content/brands/bench.png">
        </div>
        <div class="span2">
            <img alt="Doite" src="~/Content/brands/doite.png">
        </div>
        <div class="span2">
            <img alt="Hi-Tec." src="~/Content/brands/hi-tec.png">
        </div>
        <div class="span2">
            <img alt="Kathmandu" src="~/Content/brands/kathmandu.png">
        </div>
        <div class="span2">
            <img alt="Maui and Sons" src="~/Content/brands/maui.png">
        </div>
        <div class="span2">
            <img alt="Mossimo" src="~/Content/brands/mossimo.png">
        </div>
    </div>
</section>




