@model WebShop.Core.ViewModels.HomeProductListViewModel

@{
    ViewBag.Title = "Home Page";
}

<section  class="homepage-slider" id="home-slider">
	<div class="flexslider">
		<ul class="slides">
			<li>
				<img src="~/Content/images/banner/banner-1.jpg" alt="" />
			</li>
			<li>
				<img src="~/Content/images/banner/banner-2.jpg" alt="" />
				<div class="intro">
					<h1>Mid season sale</h1>
					<p><span>Up to 50% Off</span></p>
					<p><span>On selected items online and in stores</span></p>
				</div>
			</li>
		</ul>
	</div>
</section>
<section class="header_text">
	It is now winter and we are ready to enjoy all outdoors activities.  For you who feel cold, we have a special selection of extremly warm clothing without putting aside out signature fasion.
	<br/>Come and enjoy our new eCommerce site.  You will find all what you need for this season.
</section>
<section class="main-content">
	<div class="row">
		<div class="span12">
			<div class="row">
				<div class="span12">
					<h4 class="title">
						<span class="pull-left"><span class="text"><span class="line">Suggested <strong>Products</strong></span></span></span>
						<span class="pull-right">
							<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
						</span>
					</h4>
					<div id="myCarousel" class="myCarousel carousel slide">
						<div class="carousel-inner">
							<div class="active item">
								<ul class="thumbnails">
@{ /* Suggested Products (4 products) * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
									<li class="span3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a href="product_detail.html"><img src="themes/images/ladies/1.jpg" alt="" /></a></p>
											<a href="product_detail.html" class="title">Ut wisi enim ad</a><br/>
											<a href="products.html" class="category">Commodo consequat</a>
											<p class="price">$17.25</p>
										</div>
									</li>
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */ }
									@for(int i = 1; i <= 4; i++)
                                    {
										<li class="span3">
											<div class="product-box">
												<span class="sale_tag">
													@if (Model.SuggestedProducts.ElementAt(i).Discount != 0)
													{
														<img src="~/Content/images/discounts/@String.Concat(Model.SuggestedProducts.ElementAt(i).Discount,"off.png")" />
													}
												</span>
												<p><a href="#"><img src="~/Content/productImages/@Model.SuggestedProducts.ElementAt(i).Id" alt="" /></a></p>
												<a href="#" class="title">@Model.SuggestedProducts.ElementAt(i).Name</a><br />
												<a href="#" class="category">@Model.SuggestedProducts.ElementAt(i).Manufacture</a>
												@if (Model.SuggestedProducts.ElementAt(i).Discount != 0)
												{
													<p class="price"><s>$ @Model.SuggestedProducts.ElementAt(i).Price</s> $ @( float.Parse(Model.SuggestedProducts.ElementAt(i).Price.ToString()) * (1- float.Parse(Model.SuggestedProducts.ElementAt(i).Discount.ToString())/100.0 ) ) </p>
												}
												else
												{
													<p class="price">$ @Model.SuggestedProducts.ElementAt(i).Price</p>
												}
											</div>
										</li>
										@*
										<li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <p><a href="#"><img src="~/Content/productImages/@Model.SuggestedProducts.ElementAt(i).Id" alt="" /></a></p>
                                                <a href="#" class="title">@Model.SuggestedProducts.ElementAt(i).Name</a><br />
                                                <a href="#" class="category">@Model.SuggestedProducts.ElementAt(i).Manufacture</a>
                                                <p class="price">$ @Model.SuggestedProducts.ElementAt(i).Price</p>
                                            </div>
										</li>
										*@
                                    }
								</ul>
							</div>
							<div class="item">
								<ul class="thumbnails">
@{ /* Suggested Products (4 products) * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */ }
									@for(int i = 5; i <= 8; i++)
                                    {
										<li class="span3">
											<div class="product-box">
												<span class="sale_tag">
													@if (Model.SuggestedProducts.ElementAt(i).Discount != 0)
													{
														<img src="~/Content/images/discounts/@String.Concat(Model.SuggestedProducts.ElementAt(i).Discount,"off.png")" />
													}
												</span>
												<p><a href="#"><img src="~/Content/productImages/@Model.SuggestedProducts.ElementAt(i).Id" alt="" /></a></p>
												<a href="#" class="title">@Model.SuggestedProducts.ElementAt(i).Name</a><br />
												<a href="#" class="category">@Model.SuggestedProducts.ElementAt(i).Manufacture</a>
												@if (Model.SuggestedProducts.ElementAt(i).Discount != 0)
												{
													<p class="price"><s>$ @Model.SuggestedProducts.ElementAt(i).Price</s> $ @( float.Parse(Model.SuggestedProducts.ElementAt(i).Price.ToString()) * (1- float.Parse(Model.SuggestedProducts.ElementAt(i).Discount.ToString())/100.0 ) ) </p>
												}
												else
												{
													<p class="price">$ @Model.SuggestedProducts.ElementAt(i).Price</p>
												}
											</div>
										</li>

										@*
										<li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <p><a href="#"><img src="~/Content/productImages/@Model.SuggestedProducts.ElementAt(i).Id" alt="" /></a></p>
                                                <a href="#" class="title">@Model.SuggestedProducts.ElementAt(i).Name</a><br />
                                                <a href="#" class="category">@Model.SuggestedProducts.ElementAt(i).Manufacture</a>
                                                <p class="price">$ @Model.SuggestedProducts.ElementAt(i).Price</p>
                                            </div>
										</li>
										*@
                                    }
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="span12">
					<h4 class="title">
						<span class="pull-left"><span class="text"><span class="line">Latest <strong>Products</strong></span></span></span>
						<span class="pull-right">
							<a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
						</span>
					</h4>
					<div id="myCarousel-2" class="myCarousel carousel slide">
						<div class="carousel-inner">
							<div class="active item">
								<ul class="thumbnails">
@{ /* Latest Products (4 products) * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */ }
									@for(int i = 0; i < 4; i++)
                                    {
										<li class="span3">
											<div class="product-box">
												<span class="sale_tag">
													@if (Model.LatestProducts.ElementAt(i).Discount != 0)
													{
														<img src="~/Content/images/discounts/@String.Concat(Model.LatestProducts.ElementAt(i).Discount,"off.png")" />
													}
												</span>
												<p><a href="#"><img src="~/Content/productImages/@Model.LatestProducts.ElementAt(i).Id" alt="" /></a></p>
												<a href="#" class="title">@Model.LatestProducts.ElementAt(i).Name</a><br />
												<a href="#" class="category">@Model.LatestProducts.ElementAt(i).Manufacture</a>
												@if (Model.LatestProducts.ElementAt(i).Discount != 0)
												{
													<p class="price"><s>$ @Model.LatestProducts.ElementAt(i).Price</s> $ @( float.Parse(Model.LatestProducts.ElementAt(i).Price.ToString()) * (1- float.Parse(Model.LatestProducts.ElementAt(i).Discount.ToString())/100.0 ) ) </p>
												}
												else
												{
													<p class="price">$ @Model.LatestProducts.ElementAt(i).Price</p>
												}
											</div>
										</li>

										@*
										<li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <p><a href="#"><img src="~/Content/productImages/@Model.LatestProducts.ElementAt(i).Id" alt="" /></a></p>
                                                <a href="#" class="title">@Model.LatestProducts.ElementAt(i).Name</a><br />
                                                <a href="#" class="category">@Model.LatestProducts.ElementAt(i).Manufacture</a>
                                                <p class="price">$ @Model.LatestProducts.ElementAt(i).Price</p>
                                            </div>
										</li>
										*@
                                    }
								</ul>
							</div>
							<div class="item">
								<ul class="thumbnails">
@{ /* Latest Products (4 products) * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */ }
									@for(int i = 4; i < 8; i++)
                                    {
										<li class="span3">
											<div class="product-box">
												<span class="sale_tag">
													@if (Model.LatestProducts.ElementAt(i).Discount != 0)
													{
														<img src="~/Content/images/discounts/@String.Concat(Model.LatestProducts.ElementAt(i).Discount,"off.png")" />
													}
												</span>
												<p><a href="#"><img src="~/Content/productImages/@Model.LatestProducts.ElementAt(i).Id" alt="" /></a></p>
												<a href="#" class="title">@Model.LatestProducts.ElementAt(i).Name</a><br />
												<a href="#" class="category">@Model.LatestProducts.ElementAt(i).Manufacture</a>
												@if (Model.LatestProducts.ElementAt(i).Discount != 0)
												{
													<p class="price"><s>$ @Model.LatestProducts.ElementAt(i).Price</s> $ @( float.Parse(Model.LatestProducts.ElementAt(i).Price.ToString()) * (1- float.Parse(Model.LatestProducts.ElementAt(i).Discount.ToString())/100.0 ) ) </p>
												}
												else
												{
													<p class="price">$ @Model.LatestProducts.ElementAt(i).Price</p>
												}
											</div>
										</li>

										@*
										<li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <p><a href="#"><img src="~/Content/productImages/@Model.LatestProducts.ElementAt(i).Id" alt="" /></a></p>
                                                <a href="#" class="title">@Model.LatestProducts.ElementAt(i).Name</a><br />
                                                <a href="#" class="category">@Model.LatestProducts.ElementAt(i).Manufacture</a>
                                                <p class="price">$ @Model.LatestProducts.ElementAt(i).Price</p>
                                            </div>
										</li>
										*@
                                    }
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row feature_box">
				<div class="span4">
					<div class="service">
						<div class="responsive">
							<img src="/Content/themes/images/feature_img_2.png" alt="" />
							<h4>FASION <strong>FOR YOU</strong></h4>
							<p>We work with exclusive brands and designers to fit your needs.</p>
						</div>
					</div>
				</div>
				<div class="span4">	
					<div class="service">
						<div class="customize">
							<img src="/Content/themes/images/feature_img_1.png" alt="" />
							<h4>FREE <strong>SHIPPING</strong></h4>
							<p>We provide free shipping for all your products within Sweden.  Deliveries arrive to your home via Postnord.</p>
						</div>
					</div>
				</div>
				<div class="span4">
					<div class="service">
						<div class="support">
							<img src="/Content/themes/images/feature_img_3.png" alt="" />
							<h4>24/7 LIVE <strong>SUPPORT</strong></h4>
							<p>We are commited to your experience and satisfaction. If you have any problem, contact our dedicated customer support team.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="our_client">
	<h4 class="title"><span class="text">Manufactures</span></h4>
    <div class="row">
        <div class="span2">
            <img alt="Bench." src="~/Content/brands/bench.png">
        </div>
        <div class="span2">
            <img alt="Doite" src="~/Content/brands/doite.png">
        </div>
        <div class="span2">
            <img alt="Hi-Tec." src="~/Content/brands/hi-tec.png">
        </div>
        <div class="span2">
            <img alt="Kathmandu" src="~/Content/brands/kathmandu.png">
        </div>
        <div class="span2">
            <img alt="Maui and Sons" src="~/Content/brands/maui.png">
        </div>
        <div class="span2">
            <img alt="Mossimo" src="~/Content/brands/mossimo.png">
        </div>
    </div>
</section>





@{ /* 

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

*/ }