@model WebShop.Core.ViewModels.HomeProductListViewModel

@{
    ViewBag.Title = "Product List ";
}

<section class="header_text sub">
    <img class="pageBanner" src="~/Content/images/banner/pageBanner.png" alt="Product List - Woman">
    <h4><span>Product List - Woman</span></h4>
</section>




<section class="main-content">

    <div class="row">
        <div class="span9">
            <ul class="thumbnails listing-products">
@{ /*
                <li class="span3">
                    <div class="product-box">
                        <span class="sale_tag"></span>
                        <a href="product_detail.html"><img alt="" src="themes/images/ladies/9.jpg"></a><br />
                        <a href="product_detail.html" class="title">Fusce id molestie massa</a><br />
                        <a href="#" class="category">Phasellus consequat</a>
                        <p class="price">$341</p>
                    </div>
                </li>
*/ }
				@for(int i = 0; i < 9; i++)
                {
					<li class="span3">
                        <div class="product-box">
                            <span class="sale_tag">
                                @if (Model.ListOfProducts.ElementAt(i).Discount != 0)
                                {
                                    <img src="~/Content/images/discounts/@String.Concat(Model.ListOfProducts.ElementAt(i).Discount,"off.png")" />
                                }
                            </span>
                            <p><a href="/ProductDetails/Index/@Model.ListOfProducts.ElementAt(i).Id"><img src="@Model.ListOfProducts.ElementAt(i).Images.FirstOrDefault().Path" style="max-height:270px;max-width:270px" /></a></p>
                            <a href="/ProductDetails/Index/@Model.ListOfProducts.ElementAt(i).Id" class="title">@Model.ListOfProducts.ElementAt(i).Name</a><br />
                            <a href="/ProductDetails/Index/@Model.ListOfProducts.ElementAt(i).Id" class="category">@Model.ListOfProducts.ElementAt(i).Manufacture</a>
                            @if (Model.ListOfProducts.ElementAt(i).Discount != 0)
                            {
                                <p class="price"><s>$ @Model.ListOfProducts.ElementAt(i).Price</s> $ @( float.Parse(Model.ListOfProducts.ElementAt(i).Price.ToString()) * (1- float.Parse(Model.ListOfProducts.ElementAt(i).Discount.ToString())/100.0 ) ) </p>
                            }
                            else
                            {
                                <p class="price">$ @Model.ListOfProducts.ElementAt(i).Price</p>
                            }
                        </div>
					</li>
                }
            </ul>
            <hr>
            <div class="pagination pagination-small pagination-centered">
                <ul>
                    <li><a href="#">Prev</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>
        </div>
        @{
                Html.RenderAction("ProductFilter", "ProductDetails");
         }
    </div>
</section>