@model WebShop.Core.ViewModels.ProductDetailsViewModel

@{
    ViewBag.Title = "Index";
}

<div>

    <section class="header_text sub">
        <img class="pageBanner" src="~/Content/images/banner/banner-2.jpg" alt="">
        <h4><span>@Model.product.Name</span></h4>
    </section>
    <section class="main-content">
        <div class="row">
            <div class="span9">
                <div class="row">
                    @*display product image and additional images for the same product*@
                    <div class="span4">
                        <a href="@Model.product.Images.FirstOrDefault().Path" class="thumbnail" data-fancybox-group="group1" title="@Model.product.Name"><img src="@Model.product.Images.FirstOrDefault().Path" alt=""></a>
                        <ul class="thumbnails small">
                            @foreach (var image in Model.product.Images)
                            {
                                if (@image.Path != @Model.product.Images.FirstOrDefault().Path)
                                {
                                    <li class="span1">
                                        <div></div>
                                        <a href="@image.Path" class="thumbnail" data-fancybox-group="group1" title="@Model.product.Name"><img src="@image.Path" alt=""></a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                    @*display product details*@
                    <div class="span5">
                        <address>
                            @if (@Model.product.Manufacture != null)
                            {
                                <strong>Brand:</strong> <span>@Model.product.Manufacture</span><br>
                            }
                            <strong>Product Code:</strong> <span>@Model.product.Id</span><br>
                            @if (@Model.product.Availability == 0)
                            {
                                <strong>Availability:</strong> <span>Out Of Stock</span><br>
                            }
                            else
                            {
                                <strong>Availability:</strong> <span>@Model.product.Availability in Stock</span><br>
                            }

                        </address>
                        <h4><strong>Price: @Model.product.Price SEK</strong></h4>
                    </div>
                    @*form to order the product*@
                    <div class="span5">
                        <form class="form-inline">
                            <p>&nbsp;</p>
                            <label>Qty:</label>
                            <input type="text" class="span1" placeholder="1">
                            <p>&nbsp;</p>
                            <label>Size:</label>
                            <select name="Size" id="size">
                                @foreach (var size in @Model.product.Size.Split(','))
                                {
                                    <option value="@size.Trim()">@size.Trim()</option>
                                }
                            </select>
                            <p>&nbsp;</p>
                            <button class="btn btn-inverse" type="submit">Add to cart</button>
                        </form>
                    </div>
                </div>

                @*Customer Rating here*@
                <div class="span9">
                    <div class="row">
                        <div class="span4">
                            <div class="rating-block">
                                <h4>Average user rating</h4>
                                <h2 class="bold padding-bottom-7">4.3 <small>/ 5</small></h2>
                                <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                    <span class="fas fa-star" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                    <span class="fas fa-star" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                    <span class="fas fa-star" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                                    <span class="fas fa-star" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                                    <span class="fas fa-star" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                        <div class="span4">
                            <div>
                                <h4>Rating breakdown</h4>
                                <div class="pull-left">
                                    <div class="pull-left" style="width:35px; line-height:1;">
                                        <div style="height:9px; margin:5px 0;">5 <span class="far fa-star"></span></div>
                                    </div>
                                    <div class="pull-left" style="width:180px;">
                                        <div class="progress" style="height:9px; margin:8px 0;">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="background-color:#4CAF50; width: 100%">
                                                &nbsp;
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-right" style="margin-left:10px;">1</div>
                                </div>
                                <div class="pull-left">
                                    <div class="pull-left" style="width:35px; line-height:1;">
                                        <div style="height:9px; margin:5px 0;">4 <span class="far fa-star"></span></div>
                                    </div>
                                    <div class="pull-left" style="width:180px;">
                                        <div class="progress" style="height:9px; margin:8px 0;">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="background-color: #2196F3;  width: 80%">
                                                &nbsp;
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-right" style="margin-left:10px;">1</div>
                                </div>
                                <div class="pull-left">
                                    <div class="pull-left" style="width:35px; line-height:1;">
                                        <div style="height:9px; margin:5px 0;">3 <span class="far fa-star"></span></div>
                                    </div>
                                    <div class="pull-left" style="width:180px;">
                                        <div class="progress" style="height:9px; margin:8px 0;">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="        background-color: #00bcd4;
        width: 60%">
                                                &nbsp;
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-right" style="margin-left:10px;">0</div>
                                </div>
                                <div class="pull-left">
                                    <div class="pull-left" style="width:35px; line-height:1;">
                                        <div style="height:9px; margin:5px 0;">2 <span class="far fa-star"></span></div>
                                    </div>
                                    <div class="pull-left" style="width:180px;">
                                        <div class="progress" style="height:9px; margin:8px 0;">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="background-color: #ff9800;
        width: 40%
    ">
                                                &nbsp;
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-right" style="margin-left:10px;">0</div>
                                </div>
                                <div class="pull-left">
                                    <div class="pull-left" style="width:35px; line-height:1;">
                                        <div style="height:9px; margin:5px 0;">1 <span class="far fa-star"></span></div>
                                    </div>
                                    <div class="pull-left" style="width:180px;">
                                        <div class="progress" style="height:9px; margin:8px 0;">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="background-color: #f44336;
        width: 20%
    ">
                                                &nbsp;
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-right" style="margin-left:10px;">0</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p>&nbsp;</p>
                @*tab starts here description,  additional info and Review*@
                <div class="row">
                    <div class="span9">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#home">Description</a></li>
                            <li class=""><a href="#profile">Additional Information</a></li>
                            <li class=""><a href="#review">Reviews</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="home">@Model.product.Description</div>
                            <div class="tab-pane" id="profile">
                                <table class="table table-striped shop_attributes">
                                    <tbody>
                                        <tr class="">
                                            <th>Size</th>
                                            <td>@Model.product.Size</td>
                                        </tr>
                                        <tr class="alt">
                                            <th>Colour</th>
                                            <td>@Model.product.Colour</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            @*Customer Review Starts here*@
                            <div class="tab-pane" id="review">
                                <div class="span9">
                                    <div class="row">
                                        <div class="span8">
                                            <div class="well well-sm">
                                                <div class="text-right">
                                                    <a class="btn btn-success btn-green" href="#reviews-anchor" id="open-review-box">Leave a Review</a>
                                                </div>

                                                @*posting review*@
                                                @using (Html.BeginForm("UpdateReview", "ProductDetails", FormMethod.Post, new { encType = "multipart/form-data" }))
                                                {

                                                }
                                                    <div class="row" id="post-review-box" style="display:none;">
                                                        <div class="span7">
                                                            <form accept-charset="UTF-8" action="" method="post">
                                                                <input id="ratings-hidden" name="rating" type="hidden">
                                                                <textarea class="form-control animated" cols="100" id="new-review" name="comment" placeholder="Enter your review here..." rows="5" style="width:100%"></textarea>

                                                                <div class="text-right">
                                                                    <div class="stars starrr" data-rating="0"></div>
                                                                    <a class="btn btn-danger btn-sm" href="#" id="close-review-box" style="display:none; margin-right: 10px;">
                                                                        <span class="glyphicon glyphicon-remove"></span>Cancel
                                                                    </a>
                                                                    <button class="btn btn-success btn-lg" type="submit">Save</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="span8">
                                    <div class="review-block">
                                        <div class="row">
                                            <div class="span2">
                                                <div class="review-block-name"><a href="#">nktailor</a></div>
                                                <div class="review-block-date">January 29, 2016<br />1 day ago</div>
                                            </div>
                                            <div class="span5">
                                                <div class="review-block-rate">
                                                    <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                        <span class="far fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                        <span class="far fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                        <span class="far fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                        <span class="far fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                        <span class="far fa-star" aria-hidden="true"></span>
                                                    </button>
                                                </div>
                                                <div class="review-block-title">this was nice in buy</div>
                                                <div class="review-block-description">this was nice in buy. this was nice in buy. this was nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this was nice in buy</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p>&nbsp;</p>
                                <div class="span8">
                                    <div class="review-block">
                                        <div class="row">
                                            <div class="span2">
                                                <div class="review-block-name"><a href="#">nktailor</a></div>
                                                <div class="review-block-date">January 29, 2016<br />1 day ago</div>
                                            </div>
                                            <div class="span5">
                                                <div class="review-block-rate">
                                                    <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                        <span class="far fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                        <span class="far fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                        <span class="far fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                        <span class="far fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                        <span class="far fa-star" aria-hidden="true"></span>
                                                    </button>
                                                </div>
                                                <div class="review-block-title">this was nice in buy</div>
                                                <div class="review-block-description">this was nice in buy. this was nice in buy. this was nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this was nice in buy</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p>&nbsp;</p>
                                <div class="span8">
                                    <div class="review-block">
                                        <div class="row">
                                            <div class="span2">
                                                <div class="review-block-name"><a href="#">nktailor</a></div>
                                                <div class="review-block-date">January 29, 2016<br />1 day ago</div>
                                            </div>
                                            <div class="span5">
                                                <div class="review-block-rate">
                                                    <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                        <span class="far fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                        <span class="far fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                        <span class="far fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                        <span class="far fa-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                        <span class="far fa-star" aria-hidden="true"></span>
                                                    </button>
                                                </div>
                                                <div class="review-block-title">this was nice in buy</div>
                                                <div class="review-block-description">this was nice in buy. this was nice in buy. this was nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this was nice in buy</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p>&nbsp;</p>


                            </div>
                        </div>
                    </div>
                    <div class="span9">
                        <br>
                        <h4 class="title">
                            <span class="pull-left"><span class="text"><strong>Related</strong> Products</span></span>
                            <span class="pull-right">
                                <a class="left button" href="#myCarousel-1" data-slide="prev"></a><a class="right button" href="#myCarousel-1" data-slide="next"></a>
                            </span>
                        </h4>
                        <div id="myCarousel-1" class="carousel slide">
                            <div class="carousel-inner">
                                @for (int i = 0; i < @Model.relatedProducts.Count(); i += 3)
                                {
                                    <div class="@(i==0 ? "active item" : "item" )">
                                        <ul class="thumbnails listing-products">
                                            @foreach (var item in @Model.relatedProducts.Skip(i).Take(3))
                                            {
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <span class="sale_tag"></span>
                                                        <a href="/ProductDetails/index/@item.Id"><img alt="" src="@item.Images.FirstOrDefault().Path"></a><br />
                                                        <a href="/ProductDetails/index/@item.Id" class="title">@item.Name</a><br />
                                                        <a href="#" class="category">@item.SubCategory</a>
                                                        <p class="price">@item.Price SEK</p>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span3 col">
                <div class="block">
                    <ul class="nav nav-list">
                        <li class="nav-header">SUB CATEGORIES</li>
                        <li><a href="products.html">Nullam semper elementum</a></li>
                        <li class="active"><a href="products.html">Phasellus ultricies</a></li>
                        <li><a href="products.html">Donec laoreet dui</a></li>
                        <li><a href="products.html">Nullam semper elementum</a></li>
                        <li><a href="products.html">Phasellus ultricies</a></li>
                        <li><a href="products.html">Donec laoreet dui</a></li>
                    </ul>
                    <br />
                    <ul class="nav nav-list below">
                        <li class="nav-header">MANUFACTURES</li>
                        <li><a href="products.html">Adidas</a></li>
                        <li><a href="products.html">Nike</a></li>
                        <li><a href="products.html">Dunlop</a></li>
                        <li><a href="products.html">Yamaha</a></li>
                    </ul>
                </div>
                <div class="block">
                    <h4 class="title">
                        <span class="pull-left"><span class="text">Randomize</span></span>
                        <span class="pull-right">
                            <a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
                        </span>
                    </h4>
                    <div id="myCarousel" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="active item">
                                <ul class="thumbnails listing-products">
                                    <li class="span3">
                                        <div class="product-box">
                                            <span class="sale_tag"></span>
                                            <a href="product_detail.html"><img alt="" src="themes/images/ladies/7.jpg"></a><br />
                                            <a href="product_detail.html" class="title">Fusce id molestie massa</a><br />
                                            <a href="#" class="category">Suspendisse aliquet</a>
                                            <p class="price">$261</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="item">
                                <ul class="thumbnails listing-products">
                                    <li class="span3">
                                        <div class="product-box">
                                            <a href="product_detail.html"><img alt="" src="themes/images/ladies/8.jpg"></a><br />
                                            <a href="product_detail.html" class="title">Tempor sem sodales</a><br />
                                            <a href="#" class="category">Urna nec lectus mollis</a>
                                            <p class="price">$134</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <h4 class="title"><strong>Best</strong> Seller</h4>
                    <ul class="small-product">
                        <li>
                            <a href="#" title="Praesent tempor sem sodales">
                                <img src="themes/images/ladies/1.jpg" alt="Praesent tempor sem sodales">
                            </a>
                            <a href="#">Praesent tempor sem</a>
                        </li>
                        <li>
                            <a href="#" title="Luctus quam ultrices rutrum">
                                <img src="themes/images/ladies/2.jpg" alt="Luctus quam ultrices rutrum">
                            </a>
                            <a href="#">Luctus quam ultrices rutrum</a>
                        </li>
                        <li>
                            <a href="#" title="Fusce id molestie massa">
                                <img src="themes/images/ladies/3.jpg" alt="Fusce id molestie massa">
                            </a>
                            <a href="#">Fusce id molestie massa</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <script src="/Content/themes/js/common.js"></script>
    <script>
        $(function () {
            $('#myTab a:first').tab('show');
            $('#myTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            })
        })
        $(document).ready(function () {
            $('.thumbnail').fancybox({
                openEffect: 'none',
                closeEffect: 'none'
            });

            $('#myCarousel-2').carousel({
                interval: 2500
            });
        });
    </script>
</div>




