@model WebShop.Core.ViewModels.ProductDetailsViewModel

@{
    ViewBag.Title = "Index";
}

<div>

    <section class="header_text sub">
        <img class="pageBanner" src="~/Content/images/banner/banner-2.jpg" alt="">
        <h4><span>@Model.product.Name</span></h4>
    </section>
    <section class="main-content">
        <div class="row">
            <div class="span9">
                <div class="row">
                    @*display product image and additional images for the same product*@
                    <div class="span4">
                        <a href="@Model.product.Images.FirstOrDefault().Path" class="thumbnail" data-fancybox-group="group1" title="@Model.product.Name"><img src="@Model.product.Images.FirstOrDefault().Path" alt=""></a>
                        <ul class="thumbnails small">
                            @foreach (var image in Model.product.Images)
                            {
                                if (@image.Path != @Model.product.Images.FirstOrDefault().Path)
                                {
                                    <li class="span1">
                                        <div></div>
                                        <a href="@image.Path" class="thumbnail" data-fancybox-group="group1" title="@Model.product.Name"><img src="@image.Path" alt=""></a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                    @*display product details*@
                    <div class="span5">
                        <address>
                            @if (@Model.product.Manufacture != null)
                            {
                                <strong>Brand:</strong> <span>@Model.product.Manufacture</span><br>
                            }
                            <strong>Product Code:</strong> <span>@Model.product.Id</span><br>
                            @if (@Model.product.Availability == 0)
                            {
                                <strong>Availability:</strong> <span>Out Of Stock</span><br>
                            }
                            else
                            {
                                <strong>Availability:</strong> <span>@Model.product.Availability in Stock</span><br>
                            }

                        </address>
                        <h4><strong>Price: @Model.product.Price SEK</strong></h4>
                    </div>
                    @*form to order the product*@
                    <div class="span5">
                        <form class="form-inline">
                            <p>&nbsp;</p>
                            <label>Qty:</label>
                            <input type="text" class="span1" placeholder="1">
                            <p>&nbsp;</p>
                            <label>Size:</label>
                            <select name="Size" id="size">
                                @foreach (var size in @Model.product.Size.Split(','))
                                {
                                    <option value="@size.Trim()">@size.Trim()</option>
                                }
                            </select>
                            <p>&nbsp;</p>
                            <button class="btn btn-inverse" type="submit">Add to cart</button>
                        </form>
                    </div>
                </div>

                @*Customer Rating here*@
                @{
                    var ReviewCount = @Model.product.UserReviews.Count();
                    var ReviewAvg = @Model.product.UserReviews.Any() ? @Model.product.UserReviews.Select(r => r.Rating).Average() : 0;
                    var ReviewGroup = @Model.product.UserReviews.GroupBy(r => r.Rating).OrderBy(x => x.Key);
                }
                @if (ReviewCount != 0)
                {
                    <div class="span9">
                        <div class="row">
                            <div class="span4">
                                <div class="rating-block">
                                    <h4>Average user rating</h4>
                                    <h2 class="bold padding-bottom-7">@ReviewAvg.ToString("0.0")<small>/ @ReviewCount</small></h2>
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        if (i < ReviewAvg)
                                        {
                                            <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                                <span class="fas fa-star" aria-hidden="true"></span>
                                            </button>
                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                                                <span class="fas fa-star" aria-hidden="true"></span>
                                            </button>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="span4">
                                <div>
                                    <h4>Rating breakdown</h4>
                                    @foreach (var grp in ReviewGroup)
                                    {
                                        var total = grp.Count();
                                        var number = grp.Key;
                                        String progressBarStyle = "";
                                        var width = ((total * 100) / ReviewCount);

                                        if (number == 5)
                                        {
                                            progressBarStyle = "background-color:#4CAF50;width:" + @width.ToString() + "%";
                                        }
                                        else if (number == 4)
                                        {
                                            progressBarStyle = "background-color:#2196F3;width:" + @width.ToString() + "%";
                                        }
                                        else if (number == 3)
                                        {
                                            progressBarStyle = "background-color:#00bcd4;width:" + @width.ToString() + "%";
                                        }
                                        else if (number == 2)
                                        {
                                            progressBarStyle = "background-color:#ff9800;width:" + @width.ToString() + "%";
                                        }
                                        else if (number == 1)
                                        {
                                            progressBarStyle = "background-color:#f44336; width:" + @width.ToString() + "%";
                                        }
                                        <div class="pull-left">
                                            <div class="pull-left" style="width:35px; line-height:1;">
                                                <div style="height:9px; margin:5px 0;">@number <span class="far fa-star"></span></div>
                                            </div>
                                            <div class="pull-left" style="width:180px;">
                                                <div class="progress" style="height:9px; margin:8px 0;">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style=@progressBarStyle>
                                                        &nbsp;
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pull-right" style="margin-left:10px;">@total</div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>&nbsp;</p>
                }

                @*tab starts here description,  additional info and Review*@
                <div class="row">
                    <div class="span9">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#home">Description</a></li>
                            <li class=""><a href="#profile">Additional Information</a></li>
                            <li class=""><a href="#review">Reviews</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="home">@Model.product.Description</div>
                            <div class="tab-pane" id="profile">
                                <table class="table table-striped shop_attributes">
                                    <tbody>
                                        <tr class="">
                                            <th>Size</th>
                                            <td>@Model.product.Size</td>
                                        </tr>
                                        <tr class="alt">
                                            <th>Colour</th>
                                            <td>@Model.product.Colour</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            @*Customer Review Starts here*@
                            <div class="tab-pane" id="review">
                                <div class="span8">
                                    <div class="row">
                                        <div class="span8">
                                            <div class="well well-sm">
                                                <div class="text-right">
                                                    <a class="btn btn-success btn-green" href="#reviews-anchor" id="open-review-box">Leave a Review</a>
                                                </div>

                                                @*posting review  usingorm*@
                                                @using (Html.BeginForm("UpdateReview", "ProductDetails", FormMethod.Post))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <div class="row" id="post-review-box" style="display:none;">
                                                        <div class="span7">
                                                            <form accept-charset="UTF-8" action="" method="post">
                                                                @*Todo :  find the username from session and add to userReview*@
                                                                @Html.HiddenFor(model => model.product.Id)
                                                                @Html.EditorFor(model => model.userReview.Review, new { htmlAttributes = new { placeholder = "Enter your review here...", rows = "5", style = "width:100%" } })
                                                                @Html.TextBoxFor(model => model.userReview.Rating, new { style = "display:none", id = "ratings-hidden", name = "rating", type = "hidden" })
                                                                <div class="text-right">
                                                                    <div class="stars starrr" data-rating="0"></div>
                                                                    <a class="btn btn-danger btn-sm" href="#" id="close-review-box" style="display:none; margin-right: 10px;">
                                                                        Cancel
                                                                    </a>
                                                                    <button class="btn btn-success btn-lg" type="submit">Save</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>

                                                }


                                            </div>

                                        </div>
                                    </div>
                                </div>
                                @foreach (var review in Model.product.UserReviews.OrderByDescending(r => r.CreateAt).Take(3))
                                {
                                    <div class="span8">
                                        <div class="review-block">
                                            <div class="row">
                                                <div class="span2">
                                                    <div class="review-block-name"><a href="#">@review.UserName</a></div>
                                                    <div class="review-block-date">@review.CreateAt</div>
                                                </div>
                                                <div class="span5">
                                                    <div class="review-block-rate">
                                                        @for (int i = 0; i < 5; i++)
                                                        {
                                                            if (i < @review.Rating)
                                                            {
                                                                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                                    <span class="far fa-star" aria-hidden="true"></span>
                                                                </button>
                                                            }
                                                            else
                                                            {
                                                                <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                                    <span class="far fa-star" aria-hidden="true"></span>
                                                                </button>
                                                            }
                                                        }
                                                    </div>
                                                    @if (@review.Rating == 5)
                                                    {
                                                        <div class="review-block-title">Excellent!!</div>
                                                    }
                                                    else if (@review.Rating == 4)
                                                    {
                                                        <div class="review-block-title">this was nice in buy</div>
                                                    }
                                                    else if (@review.Rating == 3)
                                                    {
                                                        <div class="review-block-title">Very good</div>
                                                    }
                                                    else if (@review.Rating == 2)
                                                    {
                                                        <div class="review-block-title">Good</div>
                                                    }
                                                    <div class="review-block-description">@review.Review</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p>&nbsp;</p>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="span9">
                        <br>
                        <h4 class="title">
                            <span class="pull-left"><span class="text"><strong>Related</strong> Products</span></span>
                            <span class="pull-right">
                                <a class="left button" href="#myCarousel-1" data-slide="prev"></a><a class="right button" href="#myCarousel-1" data-slide="next"></a>
                            </span>
                        </h4>
                        @*related product image carousel code*@
                        <div id="myCarousel-1" class="carousel slide">
                            <div class="carousel-inner">
                                @for (int i = 0; i < @Model.relatedProducts.Count(); i += 3)
                                {
                                    <div class="@(i==0 ? "active item" : "item" )">
                                        <ul class="thumbnails listing-products">
                                            @foreach (var item in @Model.relatedProducts.Skip(i).Take(3))
                                            {
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <span class="sale_tag"></span>
                                                        <a href="/ProductDetails/index/@item.Id"><img alt="" src="@item.Images.FirstOrDefault().Path"></a><br />
                                                        <a href="/ProductDetails/index/@item.Id" class="title">@item.Name</a><br />
                                                        <a href="#" class="category">@item.SubCategory</a>
                                                        <p class="price">@item.Price SEK</p>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span3 col">
                <div class="block">
                    <ul class="nav nav-list">
                        <li class="nav-header">SUB CATEGORIES</li>
                        @*Todo: need to fix the href link*@
                        @foreach (var item in Model.subCategories)
                        {
                            <li class="@(item==Model.product.SubCategory ? "active" : null )"><a href="/Home/Index">@item</a></li>
                        }
                    </ul>
                    <br />
                    <ul class="nav nav-list below">
                        <li class="nav-header">MANUFACTURES</li>
                        @*Todo: need to fix the href link*@
                        @foreach (var item in Model.manufactures)
                        {
                            <li><a href="/Home/Index">@item</a></li>
                        }
                    </ul>
                </div>
                <div class="block">
                    <h4 class="title">
                        <span class="pull-left"><span class="text">Randomize</span></span>
                        <span class="pull-right">
                            <a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
                        </span>
                    </h4>
                    <div id="myCarousel" class="carousel slide">
                        <div class="carousel-inner">
                            @foreach (var item in @Model.relatedProducts)
                            {
                                var firstItem = Model.relatedProducts.ElementAtOrDefault(new Random().Next(Model.relatedProducts.Count()));

                                <div class="@(item == firstItem ? "active item" : "item" )">
                                    <ul class="thumbnails listing-products">
                                        <li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <a href="/ProductDetails/index/@item.Id"><img alt="" src="@item.Images.FirstOrDefault().Path"></a><br />
                                                <a href="/ProductDetails/index/@item.Id" class="title">@item.Name</a><br />
                                                <a href="#" class="category">@item.SubCategory</a>
                                                <p class="price">@item.Price SEK</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                @*bestseller is sorted by number of user reviews*@
                <div class="block">
                    <h4 class="title"><strong>Best</strong> Seller</h4>
                    <ul class="small-product">
                        @foreach (var item in @Model.relatedProducts.OrderByDescending(p => p.UserReviews.Count()).Take(3))
                        {
                            <li>
                                <a href="#" title="@item.Name">
                                    <img src="@item.Images.FirstOrDefault().Path" alt="@item.Description">
                                </a>
                                <a href="#">@item.Name</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <script src="/Content/themes/js/common.js"></script>
    <script>
        $(function () {
            $('#myTab a:first').tab('show');
            $('#myTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            })
        })
        $(document).ready(function () {
            $('.thumbnail').fancybox({
                openEffect: 'none',
                closeEffect: 'none'
            });

            $('#myCarousel-2').carousel({
                interval: 2500
            });
        });
    </script>
</div>




