@model WebShop.Core.ViewModels.ProductFilterViewModel

@*partial view for the side tab*@
<div class="span3 col">
    <div class="block">
        <ul class="nav nav-list">
            <li class="nav-header">SUB CATEGORIES</li>
            @*Todo: need to fix the href link*@
            @foreach (var item in Model.subCategories)
            {
                <li class="@(Model.SelectedProduct!=null && item==Model.SelectedProduct.SubCategory ? "active" : null )"><a href="/Home/ProductList">@item</a></li>
            }
        </ul>
        <br />
        <ul class="nav nav-list below">
            <li class="nav-header">MANUFACTURES</li>
            @*Todo: need to fix the href link*@
            @foreach (var item in Model.manufactures)
            {
        <li class="@(Model.SelectedProduct!=null && item==Model.SelectedProduct.Manufacture ? "active" : null )"><a href="/Home/ProductList">@item</a></li>
            }
        </ul>
    </div>
    <div class="block">
        <h4 class="title">
            <span class="pull-left"><span class="text">Randomize</span></span>
            <span class="pull-right">
                <a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
            </span>
        </h4>
        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                Random product display
                @foreach (var item in @Model.products)
                {
                    var firstItem = Model.products.ElementAtOrDefault(new Random().Next(Model.products.Count()));

                    <div class="@(item == firstItem ? "active item" : "item" )">
                        <ul class="thumbnails listing-products">
                            <li class="span3">
                                <div class="product-box">
                                    <span class="sale_tag"></span>
                                    <a href="/Home/ProductList"><img alt="" src="@item.Images.FirstOrDefault().Path" style="max-height:270px;max-width:270px"></a><br />
                                    <a href="/Home/ProductList" class="title">@item.Name</a><br />
                                    <a href="/Home/ProductList" class="category">@item.SubCategory</a>
                                    <p class="price">@item.Price SEK</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
    @*bestseller is sorted by number of user reviews*@
    <div class="block">
        <h4 class="title"><strong>Best</strong> Seller</h4>
        <ul class="small-product">
            @foreach (var item in @Model.products.OrderByDescending(p => p.UserReviews.Count()).Take(3))
            {
                <li>
                    <a href="/Home/ProductList" title="@item.Name">
                        <img src="@item.Images.FirstOrDefault().Path" alt="@item.Description">
                    </a>
                    <a href="/Home/ProductList">@item.Name</a>
                </li>
            }
        </ul>
    </div>
</div>
