<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("scripts", required: false)
    <meta charset="utf-8" />
    <title>@ViewBag.Title - WebShop eCommerce</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
	<!-- bootstrap -->
	<link href="/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/Content/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
		
	<link href="/Content/themes/css/bootstrappage.css" rel="stylesheet"/>
		
	<!-- global styles -->
	<link href="/Content/themes/css/flexslider.css" rel="stylesheet"/>
    <link href="/Content/themes/css/jquery.fancybox.css" rel="stylesheet"/>
	<link href="/Content/themes/css/main.css" rel="stylesheet"/>
	<link href="~/Content/themes/fontawesome-5/css/all.min.css" rel="stylesheet"/>
	<link href="~/Content/themes/css/review.css" rel="stylesheet"/>

	<!-- scripts -->
	<script src="/Content/themes/js/jquery-1.7.2.min.js"></script>
	<script src="/Content/bootstrap/js/bootstrap.min.js"></script>
	<script src="/Content/themes/js/superfish.js"></script>	
	<script src="/Content/themes/js/jquery.scrolltotop.js"></script>
    <script src="/Content/themes/js/jquery.fancybox.js"></script>
    <script src="~/Content/themes/js/review.js"></script>
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->


@{  /*
<meta name="viewport" content="width=device-width, initial-scale=1.0">
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
*/ }

</head>
<body>
	<div id="top-bar" class="container">
		<div class="row">
			<div class="span2">
				<form method="POST" class="search_form">
					<input type="text" class="input-block-level search-query" Placeholder="eg. T-sirt">
				</form>
			</div>
			<div class="span10">
                <div class="account pull-right">
                    <ul class="user-menu">
                        <li><a href="#">My Account</a></li>
                        <li><a href="/Basket/Index">My Basket</a></li>
                        <li><a href="/Checkout/Index">Checkout</a></li>
                        <li> @Html.Partial("_LoginPartial")</li>
                        @{
                            Html.RenderAction("BasketSummary", "Basket");
                        }

                    </ul>
                    <nav id="menu" class="pull-right">
                        <ul>
                            
                            <li>
                                <a href="#">Admin</a>
                                <ul>
                                    <li><a href="/ProductManager">Product</a></li>
                                    <li>@Html.ActionLink("Customer", "index", "User")</li>

                                </ul>
                            </li>

                        </ul>
                    </nav>
                </div>
			</div>
		</div>
	</div>
    <div id="wrapper" class="container">
        <section class="navbar main-menu">
            <div class="navbar-inner main-menu">
                <a href="index.html" class="logo pull-left"><img src="/Content/themes/images/logo.png" class="site_logo" alt=""></a>
                <nav id="menu" class="pull-right">
                    <ul>
                        <li>
                            <a href="./products.html">Woman</a>
                            <ul>
                                <li><a href="./products.html">Accessories</a></li>
                                <li><a href="./products.html">Handbags</a></li>
                                <li><a href="./products.html">Shirts</a></li>
                                <li><a href="./products.html">Pants</a></li>
                                <li><a href="./products.html">Pijamas</a></li>
                                <li><a href="./products.html">Shoes</a></li>
                            </ul>
                        </li>
                        <li><a href="./products.html">Man</a></li>
                        <li>
                            <a href="./products.html">Sport</a>
                            <ul>
                                <li><a href="./products.html">Running</a></li>
                                <li><a href="./products.html">Yoga</a></li>
                                <li><a href="./products.html">Ski</a></li>
                            </ul>
                        </li>
                        <li><a href="./products.html">Hangbag</a></li>
                        <li><a href="./products.html">Top Seller</a></li>
                    </ul>
                </nav>
            </div>
        </section>

        @RenderBody()

        <section id="footer-bar">
            <div class="row">
                <div class="span3">
                    <h4>Navigation</h4>
                    <ul class="nav">
                        <li>@Html.ActionLink("Homepage", "Index", "Home")</li>
                        <li><a href="./about.html">About Us</a></li>
                        <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                        <li>@Html.Partial("_AdminMenuPartial")</li>
                        <li><a href="./cart.html">Your Cart</a></li>
                        <li><a href="./register.html">Login</a></li>
                    </ul>
                </div>
                <div class="span4">
                    <h4>My Account</h4>
                    <ul class="nav">
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Order History</a></li>
                        <li><a href="#">Wish List</a></li>
                        <li><a href="#">Newsletter</a></li>
                    </ul>
                </div>
                <div class="span5">
                    <p class="logo"><img src="/Content/themes/images/logo.png" class="site_logo" alt=""></p>
                    <p>WebShop is our new webplatform for RealShop.  Don't miss the experience of getting your best products from us.</p>
                    <br />
                    <span class="social_icons">
                        <a class="facebook" href="#">Facebook</a>
                        <a class="twitter" href="#">Twitter</a>
                        <a class="skype" href="#">Skype</a>
                        <a class="vimeo" href="#">Vimeo</a>
                    </span>
                </div>
            </div>
        </section>
        <section id="copyright">
            <span>Copyright 2021 WebShop AB All right reserved.</span>
        </section>
    </div>


 

@{ /*
          <div class="navbar navbar-inverse navbar-fixed-top">
              <div class="container">
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                      @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                  </div>
                  <div class="navbar-collapse collapse">
                      <ul class="nav navbar-nav">
                          <li>@Html.ActionLink("Home", "Index", "Home")</li>
                          <li>@Html.ActionLink("About", "About", "Home")</li>
                          <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                      </ul>
                      @Html.Partial("_LoginPartial")
                  </div>
              </div>
          </div>
          <div class="container body-content">
              @RenderBody()
              <hr />
              <footer>
                  <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
              </footer>
          </div>
       */}

    <script src="/Content/themes/js/common.js"></script>
    <script src="/Content/themes/js/jquery.flexslider-min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $(document).ready(function () {
                $('.flexslider').flexslider({
                    animation: "fade",
                    slideshowSpeed: 4000,
                    animationSpeed: 600,
                    controlNav: false,
                    directionNav: true,
                    controlsContainer: ".flex-container" // the container that holds the flexslider
                });
            });
        });



        
    </script>
  




@{ 
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
 } 

</body>
</html>
