@model WebShop.Core.Models.Order
@{
    ViewBag.Title = "Index";
}

<section class="header_text sub">
    <img class="pageBanner" src="~/Content/images/banner/banner-2.jpg" alt="">
    <h4><span>Check Out</span></h4>
</section>
<section class="main-content">
    <div class="row">
        <div class="span12">
            <div class="accordion" id="accordion2">
                @*checkout option //Todo if Not already login,  add the partial view from login page here with a redirect to checkout*@
                @*@if (!Request.IsAuthenticated)*@
                @if (false)
                {
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Checkout Options</a>
                        </div>
                        <div id="collapseOne" class="accordion-body in collapse">
                            <div class="accordion-inner">
                                <div class="row-fluid">
                                    <h4>Customer Login</h4>
                                    <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
                                    <a class="btn btn-inverse" href="/User">Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @*Order Summary*@
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#orderSummary">Order Summary</a>
                    </div>
                    <div id="orderSummary" class="accordion-body in collapse">
                        <div class="accordion-inner">
                            @{
                                Html.RenderAction("BasketItemTable", "Basket");
                            }
                            <a class="btn btn-inverse" href="/Basket/Index">Edit Basket</a>
                        </div>
                    </div>
                </div>

                @using (Html.BeginForm("CheckoutForUser", "Checkout", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @style = "color:red" })
                    @*Billing address  //Todo Fill this information from login page*@
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Account &amp; Billing Details</a>
                        </div>
                        <div id="collapseTwo" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <h4>Your Personal Details</h4>
                                        <div class="control-group">
                                            <label class="control-label"><span class="required">*</span> First Name</label>
                                            @*<label class="control-label">First Name</label>*@
                                            <div class="controls">
                                                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control input-xlarge" })
                                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @style = "color:red" })
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label"><span class="required">*</span> Last Name</label>
                                            <div class="controls">
                                                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control input-xlarge" })
                                                @Html.ValidationMessageFor(model => model.LastName, "", new { @style = "color:red" })
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label"><span class="required">*</span> Email Address</label>
                                            <div class="controls">
                                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-xlarge" })
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @style = "color:red" })
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label"><span class="required">*</span> Telephone</label>
                                            <div class="controls">
                                                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control input-xlarge" })
                                                @Html.ValidationMessageFor(model => model.Phone, "", new { @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <h4>Your Address</h4>
                                        <div class="control-group">
                                            <label class="control-label"><span class="required">*</span> Address :</label>
                                            <div class="controls">
                                                @Html.TextBoxFor(model => model.Address, new { @class = "form-control input-xlarge" })
                                                @Html.ValidationMessageFor(model => model.Address, "", new { @style = "color:red" })
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label"><span class="required">*</span> City:</label>
                                            <div class="controls">
                                                @Html.TextBoxFor(model => model.City, new { @class = "form-control input-xlarge" })
                                                @Html.ValidationMessageFor(model => model.City, "", new { @style = "color:red" })
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label"><span class="required">*</span> Post Code:</label>
                                            <div class="controls">
                                                @Html.TextBoxFor(model => model.PostalCode, new { @class = "form-control input-xlarge" })
                                                @Html.ValidationMessageFor(model => model.PostalCode, "", new { @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*confirm order*@
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">Confirm Order</a>
                        </div>
                        <div id="collapseThree" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <div class="row-fluid">
                                    <div class="control-group">
                                        <label for="textarea" class="control-label">Comments</label>
                                        <div class="controls">
                                            @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { placeholder = "Enter your comments here...", rows = "5", style = "width:100%", @class = "form-control span12" } })
                                        </div>
                                    </div>

                                    <button class="btn btn-inverse pull-right" type="submit">Confirm order</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

