@model WebShop.Core.Models.Order
@{
    ViewBag.Title = "Index";
}
@*checkout cart page*@
<section class="header_text sub">
    <img class="pageBanner" src="~/Content/images/banner/banner-2.jpg" alt="">
    <h4><span>Check Out</span></h4>
</section>
<section class="main-content">
    <div class="row">
        <div class="span12">
            <div class="accordion" id="accordion2">
                @*Order Summary*@
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#orderSummary">Order Summary</a>
                    </div>
                    <div id="orderSummary" class="accordion-body in collapse">
                        <div class="accordion-inner">
                            @{
                                Html.RenderAction("BasketItemTable", "Basket");
                            }
                        </div>
                    </div>
                </div>

                @using (Html.BeginForm("CheckoutForUser", "Checkout", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @style = "color:red" })
                    @*Billing address  //Todo Fill this information from login page*@
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Account &amp; Billing Details</a>
                        </div>
                        <div id="collapseTwo" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <h4>Your Personal Details</h4>
                                        <div class="control-group">
                                            <label class="control-label"><span class="required">*</span> First Name</label>
                                            @*<label class="control-label">First Name</label>*@
                                            <div class="controls">
                                                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control input-xlarge" })
                                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @style = "color:red" })
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label"><span class="required">*</span> Last Name</label>
                                            <div class="controls">
                                                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control input-xlarge" })
                                                @Html.ValidationMessageFor(model => model.LastName, "", new { @style = "color:red" })
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label"><span class="required">*</span> Email Address</label>
                                            <div class="controls">
                                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-xlarge" })
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @style = "color:red" })
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label"><span class="required">*</span> Telephone</label>
                                            <div class="controls">
                                                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control input-xlarge" })
                                                @Html.ValidationMessageFor(model => model.Phone, "", new { @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <h4>Your Address</h4>
                                        <div class="control-group">
                                            <label class="control-label"><span class="required">*</span> Address :</label>
                                            <div class="controls">
                                                @Html.TextBoxFor(model => model.Address, new { @class = "form-control input-xlarge" })
                                                @Html.ValidationMessageFor(model => model.Address, "", new { @style = "color:red" })
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label"><span class="required">*</span> City:</label>
                                            <div class="controls">
                                                @Html.TextBoxFor(model => model.City, new { @class = "form-control input-xlarge" })
                                                @Html.ValidationMessageFor(model => model.City, "", new { @style = "color:red" })
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label"><span class="required">*</span> Post Code:</label>
                                            <div class="controls">
                                                @Html.TextBoxFor(model => model.PostalCode, new { @class = "form-control input-xlarge" })
                                                @Html.ValidationMessageFor(model => model.PostalCode, "", new { @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*payment options*@
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#payment">Payment</a>
                        </div>
                        <div id="payment" class="accordion-body  collapse">
                            <div class="accordion-inner">
                                <div class="row-fluid">
                                    <ul class="nav nav-pills">
                                        <li class="active"><a data-toggle="pill" href="#card"><i class="fas fa-credit-card mr-2"></i> Credit Card </a></li>
                                        <li><a data-toggle="pill" href="#swish"><i class="fas fa-mobile-alt"></i> Swish</a></li>
                                        <li><a data-toggle="pill" href="#net"><i class="fas fa-money-check"></i> Net Banking </a></li>
                                    </ul>

                                    <div class="tab-content">
                                        <div id="card" class="tab-pane fade in active">
                                            <div class="span12" style="margin:0">
                                                <div class="span2">
                                                    <label for="username">
                                                        <h6>Card Owner <span class="required">*</span></h6>
                                                    </label>
                                                </div>
                                                <div class="span4"><input type="text" name="username" placeholder="Card Owner Name" required class="form-control "></div>
                                                <div class="span6"> <img src="https://img.icons8.com/color/48/000000/visa.png" /> <img src="https://img.icons8.com/color/48/000000/mastercard-logo.png" /> <img src="https://img.icons8.com/color/48/000000/maestro.png" /> </div>
                                            </div>

                                            <div class="span12" style="margin:0">
                                                <div class="span2">
                                                    <label for="cardNumber">
                                                        <h6>Card number <span class="required">*</span></h6>
                                                    </label>
                                                </div>
                                                <div class="span4"> <input type="text" name="cardNumber" placeholder="Valid card number" class="form-control " required></div>
                                                <div class="span6"> </div>
                                            </div>

                                            <div class="span12" style="margin:0">
                                                <div class="span2">
                                                    <label>
                                                        <h6>Expiration Date <span class="required">*</span></h6>
                                                    </label>
                                                </div>
                                                <div class="span4">
                                                    <div class="span1">
                                                        <input type="number" placeholder="MM" name="" class="form-control" required style="width:70px">
                                                    </div>
                                                    <div class="span5"> </div>
                                                    <div class="span1">
                                                        <input type="number" placeholder="YY" name="" class="form-control" required style="width:70px">
                                                    </div>
                                                    <div class="span5"> </div>
                                                </div>
                                                <div class="span1">
                                                    <label data-toggle="tooltip" title="Three digit CV code on the back of your card">
                                                        <h6>CVV<span class="required">*</span> <i class="fa fa-question-circle d-inline"></i></h6>
                                                    </label>
                                                </div>
                                                <div class="span5"> <input type="text" required class="form-control"> </div>
                                            </div>

                                        </div>
                                        <div id="swish" class="tab-pane fade">
                                            <div class="span12" style="margin:0">
                                                <div class="span2">
                                                    <label for="phone">
                                                        <h6>Phone Number</h6>
                                                    </label>
                                                </div>
                                                <div class="span4"><input type="text" name="phone" placeholder="07XXXXXXXX" required class="form-control "></div>
                                                <div class="span6">  </div>
                                            </div>
                                        </div>
                                        <div id="net" class="tab-pane fade">
                                            <label for="Select Your Bank">
                                                <h6>Select your Bank</h6>
                                            </label> <select class="form-control" id="ccmonth">
                                                <option value="" selected disabled>--Please select your Bank--</option>
                                                <option>Bank 1</option>
                                                <option>Bank 2</option>
                                                <option>Bank 3</option>
                                                <option>Bank 4</option>
                                                <option>Bank 5</option>
                                                <option>Bank 6</option>
                                                <option>Bank 7</option>
                                                <option>Bank 8</option>
                                                <option>Bank 9</option>
                                                <option>Bank 10</option>
                                            </select>

                                            <div class="form-group">
                                                <p> <button type="button" class="btn btn-primary "><i class="fas fa-mobile-alt mr-2"></i> Proceed Pyment</button> </p>
                                            </div>
                                            <p class="text-muted">Note: After clicking on the button, you will be directed to a secure gateway for payment. After completing the payment process, you will be redirected back to the website to view details of your order. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    @*confirm order*@
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">Confirm Order</a>
                        </div>
                        <div id="collapseThree" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <div class="row-fluid">
                                    <div class="control-group">
                                        <label for="textarea" class="control-label">Comments</label>
                                        <div class="controls">
                                            @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { placeholder = "Enter your comments here...", rows = "5", style = "width:100%", @class = "form-control span12" } })
                                        </div>
                                    </div>

                                    <button class="btn btn-inverse pull-right" type="submit">Confirm order</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@*for validating the checkout billing address*@
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}

